---
import Badge from "./icons/Badge.astro";
---

<div class="grid gap-10 w-full">
  <div>
    <h1 class="text-3xl font-bold text-app mb-6">
      Mi Trayectoria Profesional
    </h1>
    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2">
        <a
          class="text-red-400"
          href="https://starflowers.com.ec/"
          target="_blank"
        >
          StarFlowers Cia. Ltda.
        </a>
      </h2>
      <p
        class="leading-relaxed mt-6 text-app"
      >
        StarFlowers fue el primer lugar donde tuve el privilegio de trabajar
        realizando lo que más me gusta, <strong class="text-strong">programar</strong>. Me ayudó a
        desarrollar aptitudes importantes en el mundo de la programación,
        enfocadas en el manejo de datos utilizando:
        <span class="inline-flex gap-0">
          <Badge color="green">Python</Badge>
          <Badge color="red">Angular</Badge>
          <Badge color="yellow">SQL Server</Badge>
          <Badge color="purple">FastAPI</Badge>
        </span>
      </p>
      <p class="leading-relaxed mt-6">
        Como las principales tecnologías de desarrollo en los 7 meses que me
        desenvolvi apoyando en la empresa para mantener los sistemas a flote 🫡.
      </p>
    </div>
  </div>
  <h1 class="text-3xl font-bold text-app">
    Mi Trayectoria Estudiantil
  </h1>
  <h2>
    <a
      class="text-2xl text-blue-500"
      href="https://www.ups.edu.ec"
      target="_blank"
    >
      Universidad Politécnica Salesiana
    </a>
  </h2>
  <p
    class="leading-relaxed"
  >
    Durante mi tiempo como estudiante en la Universidad Politécnica Salesiana,
    tuve la oportunidad de participar en proyectos académicos que me permitieron
    aplicar mis conocimientos en programación y desarrollo de software. Estos
    proyectos abarcaron una variedad de tecnologías y lenguajes, incluyendo:
    <span class="inline-flex gap-0">
      <Badge color="sky">Flutter</Badge>
      <Badge color="slate">Java</Badge>
      <Badge color="green">Python</Badge>
      <Badge color="blue">C++</Badge>
      <Badge color="black">Astro</Badge>
    </span>
    <p class="leading-relaxed">
      Estos proyectos no solo me ayudaron a fortalecer mis habilidades técnicas,
      sino que también fomentaron mi capacidad para trabajar en equipo y
      resolver problemas de manera efectiva.
    </p>
  </p>
  <p class="leading-relaxed"></p>
</div>
