---
import Background from '../components/Background.astro';
import '@fontsource/geist-sans';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-XKP7EHQW36"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-XKP7EHQW36');
		</script>
		<script is:inline>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-PV575ZHR');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Paul Sigua Dev</title>
		<script src="/scripts/theme.js" defer></script>
	</head>
	<body class="font-sans antialiased bg-app text-app min-h-screen">
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV575ZHR"
			height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<Background />
		<slot />
	</body>
</html>

<style>
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: white;
		color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	@media (max-width: 1024px) {
		body {
			margin-bottom: 100px;
		}
	}
</style>
